.header{
    // background-color: rgba(34, 34, 34, 0.623);
    height: 5.1vh;
    .logo{
        color: aliceblue;
        cursor: pointer;
        .title{
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            gap: .5rem;
            span:hover{
                background: red;
                background-image: linear-gradient(180deg, rgb(33, 73, 146), rgb(104, 8, 104));
                background-size: 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
                border-bottom: 2px solid aliceblue;
            }
            .logo-tel{
                padding: .5rem;
                border: 2px solid aliceblue;
                border-radius: 50%;
                &:hover{
                    background-image: linear-gradient(180deg, rgb(33, 73, 146), rgb(104, 8, 104));
                }
            }
        }
    }
}