@include screen400{
    .nav{
        .links{
            right: -25vw;
        }
    }
}

@include screen800{
    body{
        .main{
            .header{
                .logo{
                    .title{
                        font-size: 2rem;
                    }
                }
                .nav{
                    .links{
                        position: absolute;
                        font-size: 1.3rem;
                    }
                    #home{
                        top: -10px;
                        right: 250px;
                        background-color: transparent;
                    }
                    #about{
                        top: -10px;
                        right: 25px;
                        background-color: transparent;
                    }
                    #discoveries{
                        top: -10px;
                        right: 165px;
                        background-color: transparent;
                    }
                }
            }
            .content{
                margin: 0 5rem;
                font-size: 1.5rem;
            }
        }
    }
}