@import "config";
@import "nav";
@import "header";
@import "slide";
@import "content";
@import "responsive";

body{
    .main{
        font-family: 'Zilla Slab', serif;
        min-height: 100vh;

        .footer{
            text-align: center;
            font-size: 2rem;
            color: aliceblue;
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100px;
                    border-radius: 50%;
                    box-shadow: 0 0 5px 5px rgba(240, 248, 255, 0.349);
                }
            }
        }
    }
    &::-webkit-scrollbar{
        width: 15px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0, 93, 175, 0.281);
    }
    &::-webkit-scrollbar-track{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623)2%, rgba(19, 35, 109, 0.301)75%, rgba(14, 39, 92, 0.438)), url("image/homepage2.jpg");
    }
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623)2%, rgba(19, 35, 109, 0.301)75%, rgba(14, 39, 92, 0.438)), url("image/homepage2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}