@import "config";
@import "nav";
@import "header";
@import "slide";
@import "content";
@import "responsive";

body{
    .main{
        font-family: 'Zilla Slab', serif;
        min-height: 100vh;

        .footer{
            text-align: center;
            font-size: 2rem;
            color: aliceblue;
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100px;
                    border-radius: 50%;
                    box-shadow: 0 0 5px 5px rgba(240, 248, 255, 0.349);
                }
            }
        }
    }
    &::-webkit-scrollbar{
        width: 15px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0, 93, 175, 0.281);
    }
    &::-webkit-scrollbar-track{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623)2%, rgba(19, 35, 109, 0.301)75%, rgba(14, 39, 92, 0.438)), url("https://lh3.googleusercontent.com/BIOtUrMBI-AmpTCFJU3dkXSSnSvX_BEwzBI9r4e4gV5CNBkPf26HYll3JWSrYL4vJtIdrX4ZcXoCXpSIj0kmnAnGUy7EcqWHFn-YK5TVI4wfIeFCXd93_fJBmJRpq1PJnbS71TSuMRRPnn4fVkM7jeEDDpEiVtTUsoLiY4LRH3fCw00KDlGXUsegm-RmQxlKlg6aUSmKWCDR4y4Deisfthvr7pLWN81Cr3j0KHcXcDlj3vjQMkIzXTPrjBXZBJvGeMz8_ko6Y6sUpiNLUwawZJf7dwZk0zZTnGc0ODUAQSwDjzNUl2KHwjmP7-nv6P9cm1vI8o_ZmbfF6M-uGdV9BVFfpui_4PtYrvvJAAfi4r_J0NZrgV8GzEjnbwFmhFr0H9P7UHH86w2l13HjfWqDijFn0coLsuqF2OIlLGqoIvcWc_gTFCiIXT737HhtER_ia6kYtyd9bqDcHs7iTDWvBnr-g-02zIH0ybKdS8Xv80Hlf4pW4S3LntUUg0Q4a3Fjkdc8IleFrHZhZ1dNHSwR8n7tszDcqiJ4B1PhT6ditTZkxdXq6PEWxfpN0-4av_2xM7m2Ml90Vttf2LnPcm6Ddy81apC-Da4B2q1b1KKYqpIkjKOd316JGhbHKt337F9U22zkaXC2XRY8f3bkurg90rFc_MX7aWvGzfqcOP9lF8I21IeHsizmdWYZG_00aA=s626-no?authuser=0");
    }
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623)2%, rgba(19, 35, 109, 0.301)75%, rgba(14, 39, 92, 0.438)), url("https://lh3.googleusercontent.com/BIOtUrMBI-AmpTCFJU3dkXSSnSvX_BEwzBI9r4e4gV5CNBkPf26HYll3JWSrYL4vJtIdrX4ZcXoCXpSIj0kmnAnGUy7EcqWHFn-YK5TVI4wfIeFCXd93_fJBmJRpq1PJnbS71TSuMRRPnn4fVkM7jeEDDpEiVtTUsoLiY4LRH3fCw00KDlGXUsegm-RmQxlKlg6aUSmKWCDR4y4Deisfthvr7pLWN81Cr3j0KHcXcDlj3vjQMkIzXTPrjBXZBJvGeMz8_ko6Y6sUpiNLUwawZJf7dwZk0zZTnGc0ODUAQSwDjzNUl2KHwjmP7-nv6P9cm1vI8o_ZmbfF6M-uGdV9BVFfpui_4PtYrvvJAAfi4r_J0NZrgV8GzEjnbwFmhFr0H9P7UHH86w2l13HjfWqDijFn0coLsuqF2OIlLGqoIvcWc_gTFCiIXT737HhtER_ia6kYtyd9bqDcHs7iTDWvBnr-g-02zIH0ybKdS8Xv80Hlf4pW4S3LntUUg0Q4a3Fjkdc8IleFrHZhZ1dNHSwR8n7tszDcqiJ4B1PhT6ditTZkxdXq6PEWxfpN0-4av_2xM7m2Ml90Vttf2LnPcm6Ddy81apC-Da4B2q1b1KKYqpIkjKOd316JGhbHKt337F9U22zkaXC2XRY8f3bkurg90rFc_MX7aWvGzfqcOP9lF8I21IeHsizmdWYZG_00aA=s626-no?authuser=0");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}